body {
    background: rgb(28, 160, 213);
    background: linear-gradient(90deg, rgba(28, 160, 213, 1) 16%, rgba(31, 90, 232, 1) 45%, rgba(129, 62, 217, 1) 86%);
}

.segundoBloco {
    position: relative;
    animation: linear;
    animation-name: animacao;
    animation-duration: 5s;
}

@keyframes animacao {
    0% {
        left: 0%;
        right: 0%;
        top: 100px;
        opacity: 50%;
    }
    25% {
        left: 0%;
        right: 0%;
        top: 0px;
        opacity: 100%;
    }
    50% {
        left: 0%;
        right: 0%;
        top: 0px;
    }
    75% {
        left: 0%;
        right: 0%;
        top: 0px;
        right: 0%;
    }
    100% {
        left: 0%;
        right: 0%;
        top: 0px;
    }
}